<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.pickmetop.admin.repository.AdminMapper">
	<!-- 각 게시판의 미승인 갯수 -->
	<select id="selectUnreceivedListCount" resultType="com.cafe24.pickmetop.admin.model.CountVo">
		SELECT
			(SELECT COUNT(*) FROM tb_company_review WHERE review_allow = 0) as reviewCount,
			(SELECT COUNT(*) FROM tb_company_interview WHERE interview_allow = 0) as interviewCount,
			(SELECT COUNT(*) FROM tb_company_salary WHERE salary_allow = 0) as salaryCount
		FROM
			DUAL
	</select>
</mapper>