<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.pickmetop.recruit.repository.RecruitMapper">
	<!-- 북마크 체크 -->
	<select id="checkBookmarkByLoginId" parameterType="com.cafe24.pickmetop.recruit.model.RecruitCompanyBookmarkVo" resultType="String">
		SELECT 
			member_custom_bookmark_cd
		FROM 
			tb_recruit_company_bookmark
		WHERE
			login_id=#{loginId}
		AND 
			recruit_company_cd=#{recruitCompanyCd}
	</select>
	<!-- 북마크삭제 -->
	<delete id="deleteBookmark" parameterType="com.cafe24.pickmetop.recruit.model.RecruitCompanyBookmarkVo">
		DELETE FROM tb_recruit_company_bookmark 
		WHERE 
			login_id=#{loginId}
		AND 
			recruit_company_cd=#{recruitCompanyCd}
	</delete>
	<!-- 북마크 등록 -->
	<insert id="insertBookmark" parameterType="com.cafe24.pickmetop.recruit.model.RecruitCompanyBookmarkVo">
		INSERT INTO tb_recruit_company_bookmark
			(member_custom_bookmark_cd, login_id, recruit_company_cd)
		VALUES 
			((select  CONCAT('recruit_bookmark_', LPAD(IFNULL(MAX(substring(member_custom_bookmark_cd ,18)),0)+1,4,'0')) from tb_recruit_company_bookmark as bk), 
			#{loginId}, 
			#{recruitCompanyCd})
	</insert>
	
	
	<!-- 채용달력 시작일 검색 -->
	<select id="searchScheduleListByBeginDate" resultType="com.cafe24.pickmetop.recruit.model.Recruit" parameterType="Map">	
	SELECT  
		company.company_cd as companyCd,
		recruit.recruit_name as recruitName,
		recruit.recruit_company_cd as recruitCompanyCd,
		recruit.recruit_begindate as recruitBegindate , 
		recruit.recruit_enddate as recruitEnddate,
		recruit.recruit_regdate as recruitRegdate,
		'begin' as 'begin'
	FROM 
		tb_recruit_company as recruit,
		tb_company_info as company
	WHERE 
		company.company_name LIKE CONCAT('%',#{searchCompanyName}, '%')
	AND 
		recruit.company_cd = company.company_cd
	AND 
		recruit.recruit_begindate= #{scheduleDate}
	
	</select> 
	
	<!-- 채용달력 종료일 검색 -->
	 <select id="searchScheduleListByEndDate" resultType="com.cafe24.pickmetop.recruit.model.Recruit" parameterType="Map">	
	SELECT  
		company.company_cd as companyCd,
		recruit.recruit_name as recruitName,
		recruit.recruit_company_cd as recruitCompanyCd,
		recruit.recruit_begindate as recruitBegindate , 
		recruit.recruit_enddate as recruitEnddate,
		recruit.recruit_regdate as recruitRegdate,
		'end' as 'end'
	FROM 
		tb_recruit_company as recruit,
		tb_company_info as company
	WHERE 
		company.company_name  LIKE CONCAT('%',#{searchCompanyName}, '%')
	AND 
		recruit.company_cd = company.company_cd
	AND 
		recruit.recruit_enddate= #{scheduleDate}
	
	</select>
	<!-- 디테일 기업정보 -->
	<select id="selectForRecruitCompanyDetail" resultType="com.cafe24.pickmetop.recruit.model.Recruit">
	SELECT 
		recruit.company_cd as companyCd, 
		recruit.recruit_company_cd as recruitCompanyCd,
		company.company_name as companyName,
		company.company_site as companySite,
		recruit.recruit_begindate as recruitBegindate,
		recruit.recruit_enddate as recruitEnddate,
		recruitjop.recruit_job_workstatus as workStatus,
		recruitjop.recruit_job_jobdetail as jobDetail,
		recruitjop.recruit_job_file as recruitImgName
	FROM 
		tb_recruit_company as recruit ,
		tb_company_info as company,
		tb_recruit_company_job as recruitjop
	WHERE
		recruit.recruit_company_cd = #{recruitCompanyCd} 
	AND 
		company.company_cd = recruit.company_cd
	AND 
		recruitjop.company_cd = recruit.company_cd
	</select>
	
	<!-- 와일드카드 쓰고 기업명으로 기업코드 찾기 -->
	<select id="getCompanyCdWithWildCard" resultType="java.lang.String">
		SELECT 
			company_cd as companyCd
		FROM
			 tb_company_info 
		WHERE 
			company_name = '%'+#{companyName}+'%'
	</select>
	
	<!-- 산업군 topindex 전체리스트 -->
	<select id="selectAllTopIndustry" resultType="com.cafe24.pickmetop.admin.model.IndustryTopIndexVo">
	SELECT 
		industry_topindex_cd as industryTopindexCd, 
		industry_topindex_name as industryTopindexName
	FROM 
		tb_industry_topindex
	</select>
	
 	 <!-- tb_cletter_company_job의 총 열갯수 -->
	<!-- <select id="getCountOfCoverletterJob" resultType="int">
		 SELECT 
		 	COUNT(c_cletter_article_cd) 
		 FROM 
		 	tb_cletter_company_job
	</select>  -->
	
	<insert id="insertCoverletterArticle" parameterType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobVo">
		INSERT INTO tb_cletter_company_job
		(c_cletter_article_cd, recruit_job_cd, c_cletter_article)
	VALUES 
	((select  CONCAT('coverletter_cd_', LPAD(IFNULL(MAX(substring(c_cletter_article_cd ,16)),0)+1,4,'0')) from tb_cletter_company_job as a), 
		CONCAT('recruit_company_job_',LPAD((#{recruitJobCd}),4,'0')),#{cletterArticle})
	</insert> 
	
	
	<!-- 채용달력 종료일 select -->
	<select id="selectscheduleListByEndDate" resultType="com.cafe24.pickmetop.recruit.model.Recruit" parameterType="String">	
	SELECT 
		recruit_company_cd as recruitCompanyCd , 
		company_cd as companyCd,
		recruit_name as recruitName, 
		recruit_begindate as recruitBegindate , 
		recruit_enddate as recruitEnddate, 
		recruit_regdate as recruitRegdate , 
		recruit_register as recruitRegister, 
		recruit_modidate as recruitModidate, 
		recruit_modify as recruitModify,
		'end' as 'end'
	FROM 
		tb_recruit_company
	WHERE 
		recruit_enddate= #{scheduleDate}

	ORDER BY recruit_company_cd
	</select>
	
	<!-- 채용달력 시작일 select -->
	<select id="selectScheduleListByBeginDate" resultType="com.cafe24.pickmetop.recruit.model.Recruit" parameterType="String">	
	SELECT 
		recruit_company_cd as recruitCompanyCd , 
		company_cd as companyCd,
		recruit_name as recruitName, 
		recruit_begindate as recruitBegindate , 
		recruit_enddate as recruitEnddate, 
		recruit_regdate as recruitRegdate , 
		recruit_register as recruitRegister, 
		recruit_modidate as recruitModidate, 
		recruit_modify as recruitModify,
		'begin' as 'begin'
	FROM 
		tb_recruit_company
	WHERE 
		recruit_begindate= #{scheduleDate}
<!-- 		
		<if test='searchCompanyCd != null or searchCompanyCd != ""'>
			AND  company_cd = #{searchCompanyCd}
		</if> 
			-->
	ORDER BY recruit_company_cd
	</select>
	
	<!-- 임시기업등록 -->
	<insert id="insertTemporaryCompany" parameterType="com.cafe24.pickmetop.recruit.model.Recruit">
		INSERT INTO tb_company_info
			(company_cd, company_name)
		VALUES (#{CompanyCd},#{CompanyName})
	 </insert>
	 
	<!-- default 기업코드 열 갯수 -->
	<select id="selectDefaultCd" resultType="int">
		SELECT 
			COUNT(company_cd) 
		FROM 
			tb_company_info
		WHERE 
			company_cd like '%de%'
	</select>

	<!-- JobTopIndex 검색 -->
	<select id="getJobTopIndexCd" resultType="com.cafe24.pickmetop.admin.model.JobTopIndexVo">
		SELECT 
			job_topindex_cd as jobTopIndexCd,
			job_topindex_name as jobTopIndexName
		FROM 
			tb_job_topindex
	</select>

	<!-- JobMidIndex 검색 -->
	<select id="getJobMidIndexCd" resultType="com.cafe24.pickmetop.admin.model.JobMidIndexVo">
		 SELECT 
		 	job_midindex_cd as jobMidindexCd ,
		 	job_topindex_cd as jobTopIndexCd, 
		 	job_midindex_name as jobMidindexName 
		 FROM 
		 	tb_job_midindex
	</select>
	
	
   	<!--  RecruitCompanyJob의 총 열갯수 -->
	<select id="getCountOfRecruitJob" resultType="int">
		 SELECT 
		 	ifnull(max(substring(recruit_job_cd,21)),0)
		 FROM 
		 	tb_recruit_company_job
	</select>

   	<!--  RecruitCompany의 코드숫자중 가장 큰수 -->
	<select id="getCountOfRecruit" resultType="int">
		 SELECT 
		 	ifnull(max(substring(recruit_company_cd,17)),0)
		 FROM 
		 	tb_recruit_company
	</select>

	<!-- 기업명으로 기업코드 찾기 -->
	<select id="getCompanyCd" resultType="java.lang.String">
		SELECT 
			company_cd as companyCd
		FROM 
			tb_company_info 
		WHERE 
			company_name = #{companyName}
	</select>
	
	<!-- 전체 기업명 검색 -->
	<select id="selectCompany" resultType="java.lang.String"> 
		SELECT 
			company_name
		FROM 
			tb_company_info
	</select>
	
	<!-- RecruitCompany 입력 -->
	<insert id="insertRecruit" parameterType="com.cafe24.pickmetop.recruit.model.RecruitCompany">
		INSERT INTO tb_recruit_company
			(recruit_company_cd, company_cd, recruit_name, recruit_begindate, recruit_enddate, recruit_regdate, recruit_register, recruit_modidate, recruit_modify)
		VALUES 
			(CONCAT('recruit_company_',LPAD((#{recruitCompanyCd}),4,'0')), #{companyCd}, #{recruitName}, #{recruitBegindate}, #{recruitEnddate}, NOW(), #{recruitRegister}, NOW(),#{recruitModify})
	</insert>
	 
	 <!-- RecruitCompanyJob 입력 -->
	 <insert id="insertRecruitJob" parameterType="com.cafe24.pickmetop.recruit.model.RecruitCompanyJobVo">
		INSERT INTO tb_recruit_company_job
			(recruit_job_cd, recruit_company_cd, company_cd, job_midindex_cd, recruit_job_workstatus, recruit_job_jobdetail, recruit_job_education, recruit_job_file)
		VALUES 
		
			(CONCAT('recruit_company_job_',LPAD((#{recruitJobCd}),4,'0')), CONCAT('recruit_company_',LPAD((#{recruitCompanyCd}),4,'0')),#{companyCd}, #{jobMidindexCd},#{recruitJobWorkstatus},#{recruitJobJobdetail},#{recruitJobEducation},#{recruitJobFile})
	 				
	 
	 </insert>

</mapper>