@CHARSET "EUC-KR";
/*화면 헤더*/
body{
	background-color: rgba(241,241,241,1);
}
/*기업리뷰 미승인리스트 관련*/
.tablehover:hover{
	background-color: rgba(213,213,213,0.5);
	cursor:pointer;
}
.table thead tr th{
	text-align: center;
}

/*입력폼 공통*/
.insertForm{
	/* background-color: rgba(213,213,213,0.5); */
	padding: 40px 40px 20px 40px;
}
.form{
	box-shadow: 5px 5px 5px 0px lightgray;
	margin: 15px 0px 0px 0px;
	border: 3px solid rgba(0, 0, 0, 0.3);
}
.form .panel-heading{
	/*background-color: rgba(83,255,76,1);*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.detail .panel-end{
	height: 80px;
	padding-left: 20%;
	padding-top: 20px;
	border-top: 3px solid rgba(0, 0, 0, 0.3);
}

/*기업정보 Insert에서 기업이름 자동완성 부분*/
.fixed-height {
	width: 200px;
	background-color: #fff;
	padding: 1px;
	max-height: 100px;
	overflow: auto;
}
.ui-helper-hidden-accessible{
	display: none;
}
#searchJobTopIndex{
	width: 300px;
}

/*페이징*/
.pager .active a{
	background-color: #337ab7;
	color: #fff;
}
.pager .active a:hover{
	background-color: #337ab7;
	color: #fff;
}