@CHARSET "EUC-KR";

/*연봉정보 입력화면*/
#companySalaryInsertForm{
	float: left;
    width: 70%;
	padding: 40px 40px 20px 40px;
}
#companySalaryInsertForm .row{
	padding : 0px 0px 20px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#companySalaryInsertForm .col-xs-1{
	padding: 10px 0px 0px 0px;
}
#companySalaryInsertForm {
}
.sidebanner{
	float: right;
	width: 30%;
}
.sidebanner .banner{
	width: 100%;
}

/*연봉정보 관리자 디테일*/
.panel-heading{
	border-bottom: 2px solid  black;
}
.salaryDetail{
	padding: 10px 40px 0px 40px;
}
.salaryDetail .row{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}