@CHARSET "EUC-KR";

/*기업정보 리스트관련*/

/*헤더*/
#companyInfoList {position:absolute; top:0; left:0; width:100%; z-index:20;}
#companyInfoList .header_cont	{width:100%; position:relative; z-index:2;}
#companyInfoList .header_cont .utilmenu	{position:absolute; top:10px; right:41px;}
#companyInfoList .header_cont .utilmenu ul	{display:inline-block; margin:-1px 1px 0 0;}
#companyInfoList .header_cont .utilmenu ul li	{display:inline; padding:0 6px 0 12px; vertical-align:middle;}
#companyInfoList .header_cont .utilmenu ul li a {color:#fff;}
#companyInfoList .header_cont .utilmenu ul li:first-child	{background:none;}
#companyInfoList .header_cont h1	{position:absolute; top:30px; left:40px; color:#fff}
#companyInfoList .header_cont .gnb	{padding:50px 41px 57px 0; margin-top: 20px;s}
#companyInfoList .header_cont .gnb .companyInfoMain{text-decoration: none; color:#fff;}
#companyInfoList .header_cont .gnb > ul	{width:100%; display:inline-block; text-align:right;}
#companyInfoList .header_cont .gnb > ul > li	{display:inline-block; position:relative; width:165px; margin:0 0 0 -4px; text-align:center;}
#companyInfoList .header_cont .gnb > ul > li > a	 {display:block; font-weight:bold; font-family:"Nanum Gothic","나눔고딕",dotum,"돋움"; font-size:16px; color:#fff; padding:0 0 0 0; height:64px; overflow:hidden;}

#companyInfoList_wrapper .sections	{width:100%; position:relative; overflow:hidden;}
#companyInfoList_wrapper .sections .section_cont	{width:1200px; margin:0 auto;}
#companyInfoList_wrapper .sections .section_cont .visual	 {height:200px;}
#companyInfoList_wrapper .sections .section_cont .visual ul li .img	{
		position:absolute; top:0; left:50%; margin:0 0 0 -1200px;
    	transform: translate(0%,-60%);
	}
#companyInfoList_wrapper .sections .section_cont .visual ul li .txt	{position:absolute; top:260px; right:0;}
#companyInfoList_wrapper .sections .section_cont .visual ul li.list1 .txt	{top:260px; right:14px;}
#companyInfoList_wrapper .sections .section_cont .visual ul li.list2 .txt	{top:260px; right:95px;}
#companyInfoList_wrapper .sections .section_cont .visual ul li.list3 .txt	{top:260px; right:109px;}

.list_companies {
    box-sizing: border-box;
    width: 100%;
}
article {
    display: block;
}
.list_companies .section_wrap {
	margin-bottom: 15px;
    border-top: none;
}
.section_wrap {
    border: 1px solid #e8e9eb;
    background-color: #fff;
}
.content_ty3 {
    position: relative;
    padding: 17px 0 18px 14px;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.content_ty3 .ty3_wrap {
    width: 100%;
    display: table;
}
.content_ty3 .ty3_wrap .content_wrap {
    display: table-row;
    position: relative;
    min-height: 80px;
}
.content_col2_1, .content_col2_2, .content_col2_3, .content_col2_4 {
    display: table-cell;
    vertical-align: top;
    min-height: 80px;
    box-sizing: border-box;
}
.content_col2_2 {
    width: 95px;
    position: relative;
    margin-right: 12px;
}
.content_col2_2 a img{
	width: 95px;
}
.content_col2_3 {
	font-size: 1.1em;
	padding-left: 50px;
    vertical-align: top;
}
.content_col2_3 a{
    color: #333;
}
.content_col2_4 {
	text-align: center;
	font-size: 1.2em;
    padding-top: 6px;
}