@CHARSET "EUC-KR";

/*기업리뷰 승인리스트 관련*/
.jumbotron{
	box-shadow: 5px 5px 5px 0px lightgray;
	margin-top: 10px;
	text-align: left;
	color : #29566d;
	/* background: url("/img/company/logo/header.jpg"); */
	background-color: rgba(255,255,255,0.7);
}
.jumbotron h1{
	border-bottom: 7px double #00455e;
}
.jumbotron strong{
	color : #00455e;
}
.companyReviewList{
	background-color: rgba(255,255,255,0.9);
    padding: 30px 40px 30px 40px;
    border-radius: 20px;
}
.companyReviewList .col-xs-3{
	padding-right: 5px;
	padding-left: 12px;
}
.companyReviewList .col-xs-2{
	padding-left: 0px;
	padding-right: 0px;
}
.companyReviewList .col-xs-6{
	width: 16%;
	float: right;
}
.review{
	box-shadow: 5px 5px 5px 0px lightgray;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	margin : 30px 0px 0px 0px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);	
}
.review .row{
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.media{
	margin-bottom: 20px;
}
#reviewComment .media-body{
	padding-top: 20px;
}
#reviewComment .comment{
	color: black;
	font-weight: bold;
	
	text-decoration: none;
}
/* #reviewComment .media-left span img{
	margin: -184px -350px -140px -135px;
	background-color: #fff;
} */


/*기업리뷰 상세보기 관련*/
#reviewRate{
	margin-left: 15px;
	padding: 30px 0px 30px 0px;
	background-color: #fff;
}

.star-rating { 
	width:205px; 
} 
.star-rating, .star-rating span { 
	text-align: left;
	display:inline-block; height:39px; overflow:hidden; background:url("/img/star.png"); 
} 
.star-rating span{ 
	background-position:left bottom; line-height:0; vertical-align:top; 
} 
#reviewRate, #etc{
	text-align: center;
}
.companyReviewDetail{
	padding: 25px 30px 25px 50px;
	
	/* background-color: rgba(213,213,213,0.5); */
} 