@CHARSET "EUC-KR";
/*화면 헤더*/
body{
	background-color: rgba(241,241,241,1);
}
.jumbotron{
	margin-top: 10px;
	text-align: left;
	color : #3e3e3e;
	background: url("/img/company/logo/header.jpg");
	background-size: cover;
}
/*기업리뷰 미승인리스트 관련*/
.tablehover:hover{
	background-color: rgba(213,213,213,0.5);
	cursor:pointer;
}
.table thead tr th{
	text-align: center;
}

/*기업리뷰 입력폼*/
.insertForm{
	/* background-color: rgba(213,213,213,0.5); */
	padding: 40px 40px 20px 40px;
}
.form .panel-heading{
	/*background-color: rgba(83,255,76,1);*/
	border-bottom:2px solid black;
}
.detail .panel-end{
	height: 80px;
	padding-left: 20%;
	padding-top: 20px;
	border-top: 2px solid black;
}

/*기업정보 Insert에서 기업이름 자동완성 부분*/
.fixed-height {
	width: 200px;
	background-color: #fff;
	padding: 1px;
	max-height: 100px;
	overflow: auto;
}
.ui-helper-hidden-accessible{
	display: none;
}
#searchJobTopIndex{
	width: 300px;
}