@CHARSET "EUC-KR";
body {
	margin: 0px;
}

.mainmenu{
	margin-bottom: 30px;
} 

/* footer관련 css*/
.footer{
	padding: 0px;
	width: 100%;
}
.footer .text-center{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222222;
	color: #76919d;	
}
.navbar-fixed-bottom span{
	color: #000000;
}

