@CHARSET "EUC-KR";
body {
	margin: 0px;
}
.main{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.mainmenu{
	margin-bottom: 30px;
} 
#myCarousel{
	height: 70%;
}
.topName{
	color: #fff;
	font-size: 7.5em;
	text-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0080ff, 0 0 70px #0080ff, 0 0 80px #0080ff, 0 0 100px #0080ff, 0 0 150px #0080ff;
	margin-bottom: 100px;
}
/* 기업메인 관련*/
#head_lwrap {position:absolute; top:0; left:0; width:100%; z-index:20;}
#head_lwrap .header_cont	{width:100%; position:relative; z-index:2;}
#head_lwrap .header_cont .utilmenu	{position:absolute; top:10px; right:41px;}
#head_lwrap .header_cont .utilmenu ul	{display:inline-block; margin:-1px 1px 0 0;}
#head_lwrap .header_cont .utilmenu ul li	{display:inline; padding:0 6px 0 12px; vertical-align:middle;}
#head_lwrap .header_cont .utilmenu ul li a {color:#fff;}
#head_lwrap .header_cont .utilmenu ul li:first-child	{background:none;}
#head_lwrap .header_cont h1	{position:absolute; top:30px; left:40px; color:#fff}
#head_lwrap .header_cont .gnb	{padding:50px 41px 57px 0; margin-top: 20px;s}
#head_lwrap .header_cont .gnb > ul	{width:100%; display:inline-block; text-align:right;}
#head_lwrap .header_cont .gnb > ul > li	{display:inline-block; position:relative; width:165px; margin:0 0 0 -4px; text-align:center;}
#head_lwrap .header_cont .gnb > ul > li > a	 {display:block; font-weight:bold; font-family:"Nanum Gothic","나눔고딕",dotum,"돋움"; font-size:16px; color:#fff; padding:0 0 0 0; height:64px; overflow:hidden;}

.sections	{width:100%; position:relative; overflow:hidden;}
.sections .section_cont	{width:1200px; margin:0 auto;}
.sections .section_cont .visual	 {height:560px;}
.sections .section_cont .visual ul li .img	{position:absolute; top:0; left:50%; margin:0 0 0 -1200px;}
.sections .section_cont .visual ul li .txt	{position:absolute; top:260px; right:0;}
.sections .section_cont .visual ul li.list1 .txt	{top:260px; right:14px;}
.sections .section_cont .visual ul li.list2 .txt	{top:260px; right:95px;}
.sections .section_cont .visual ul li.list3 .txt	{top:260px; right:109px;}
.quick{
	padding-top: 20px;
}
.quick a{
	font-size: 1.5em;
	font-weight:bold;
	text-align: center;
}
.quick a:hover{
	text-decoration: none;
}
.toplist{
	padding-top: 30px;
	width: 350px;
}
.toplist li{
	float:left;
	display:inline;
	margin:0;
	padding:0;
}
/*list 100*/
#list10 {
	float:left;
	width:350px;
	padding: 0px;
	padding-top: 10px;
}
.list10_list {
	float:left;
	width:350px;
	height:30px;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
	white-space:nowrap;
}
#listit1 {
	float:left;
	width:55px;
	color:#444;
	font-weight:bold;
	padding-top:10px;
	text-align: center;
}
#listit2 {
	float:left;
	width:160px;
	color:#444;
	font-weight:bold;
	padding-top:10px;
	text-align: center;
}
#listit3 {
	float:left;
	width:80px;
	color:#444;
	font-weight:bold;
	padding-top:10px;
}
.list10_0 {
	float:left;
	width:55px;
	height:20px;
	color:#444;
	text-align:center;
	padding:2px 0 0 0;
}
.list10_1 {
	float:left;
	width:160px;
	height:20px;
	color:#444;
	text-align:center;
	padding:2px 0 0 10px;
	overflow:hidden; 
	white-space:nowrap;
}
.list10_2 {
	float:left;
	width:70px;
	height:20px;
	color:#444;
	text-align:center;
	padding:2px 0 0 10px;
	overflow:hidden; 
	white-space:nowrap;
}

/* footer관련 css*/
.footer{
	padding: 0px;
	width: 100%;
}
.footer .text-center{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222222;
	color: #76919d;	
}
.navbar-fixed-bottom span{
	color: #000000;
}
/*기업리뷰 승인리스트 관련*/
.companyReviewList{
	background-color: rgba(213,213,213,0.1);
	padding: 30px 40px 30px 40px;
}
.companyReviewList .col-xs-3{
	padding-right: 5px;
	padding-left: 12px;
}
.companyReviewList .col-xs-2{
	padding-left: 0px;
	padding-right: 0px;
}
.review{
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	background-color: #fff;
}
.media{
	margin-bottom: 20px;
}
#reviewComment .media-body{
	padding-top: 20px;
}
.row{
	margin-bottom: 20px;
}
/* #reviewComment .media-left span img{
	margin: -184px -350px -140px -135px;
	background-color: #fff;
} */

/*기업리뷰 미승인리스트 관련*/
.tablehover:hover{
	background-color: rgba(213,213,213,0.5);
	cursor:pointer;
}

/*기업리뷰 상세보기 관련*/
#reviewRate{
	margin-left: 15px;
	padding: 30px 0px 30px 0px;
	background-color: #fff;
}
.star-rating { 
	width:205px; 
} 
.star-rating, .star-rating span { 
	text-align: left;
	display:inline-block; height:39px; overflow:hidden; background:url("/img/star.png"); 
} 
.star-rating span{ 
	background-position:left bottom; line-height:0; vertical-align:top; 
} 
#reviewRate, #etc{
	text-align: center;
}
.companyReviewDetail{
	padding: 25px 30px 25px 50px;
	
	/* background-color: rgba(213,213,213,0.5); */
} 

/*메인화면 section옵션*/
#section1 {padding-top:50px;height:100%;color: #fff; background-image: url("/img/main/calendar.jpg"); background-size: cover;}
#section2 {padding-top:50px;height:100%;color: #fff; background-image: url("/img/main/resume.png"); background-size: cover;}
#section3 {padding-top:50px;height:100%;color: #fff; background-image: url("/img/main/coverletter.jpg"); background-size: cover;}
#section41 {padding-top:50px;height:100%;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:100%;color: #fff; background-color: #009688;}
/* 수정가능한것 color / background-color: */

/*기업리뷰 입력폼*/
#companyReviewInsertForm{
	/* background-color: rgba(213,213,213,0.5); */
	padding: 40px 40px 20px 40px;
}
.form .panel-heading{
	/*background-color: rgba(83,255,76,1);*/
	border-bottom:2px solid black;
}
.form .panel-end{
	padding-top: 20px;
	border-top: 2px solid black;
}


/*기업정보 Insert에서 기업이름 자동완성 부분*/
.fixed-height {
	width: 200px;
	background-color: #fff;
	padding: 1px;
	max-height: 100px;
	overflow: auto;
}
.ui-helper-hidden-accessible{
	display: none;
}
#jobTopIndex{
	width: 300px;
}
