@CHARSET "EUC-KR";
.title{
	font-size: 25px;
	margin: 20px 0px 20px 15px;
	margin-bottom: 20px;	
}
.content{
	box-shadow: 5px 5px 5px 0px lightgray;
	border-radius: 20px;
	padding: 10px;
	font-size: 25px;
	
}
.allowCheck{
	background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.allowCheck a{
	color: #fff;
}
.content .badge{
	float: right;
	position: relative;
	font-size: 30px;
    top: -1px;
	color: #d9534f;
    background-color: #fff
}
.content .fa-clipboard{
	color: #fff;
	font-size: 1.5em;
	padding-right: 10px;
}
.content .fa-check-square-o{
	color: #000;
	font-size: 1.8em;
	padding-right: 10px;
}
.visitantCount{
	background-color: #fff;
    border-color: #fff;
}
.visitantCount .visitantString{
	float: left;
}
.visitantCount .visitantInteger{
	float: right;
	color: #00bfff;
}
.visitantCount .today{
	text-align: center;
   font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.visitantCount .row{
	margin: 0;
}
.chart_title{
	text-align: center;
}
#chart_div{
	border-radius: 10px;	
}
.recruit{
	font-size: 35px;
	background-color: #5CE647;
    border-color: #5CE647;
    color: #fff;
}
.recruit a{
	color: #fff;
}
.recruit .fa-arrow-circle-right{
    padding-left: 5%;
}
.recruitBanner{
	box-shadow: 5px 5px 5px 0px lightgray;
	border-radius: 10px;
	padding: 5px;
	font-size: 25px;
	background-color: #12af7c;
}
.recruitBanner img{
	background-size: cover;
	width: 335px;
    height: 60px;
	border-radius: 5px;
}
.tab{
	border: 2px solid rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px 3px lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}