<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.pickmetop.coverletter.repository.CoverletterMapper">
<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					01	회원자소서 리스트	
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->	
 	<select id="selectCoverletterMemberList" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberVo">
	SELECT 
		cm.m_cletter_cd AS mCletterCd, 
		cm.recruit_job_cd AS recruitJobCd, 
		cm.login_id AS loginId, 
		cm.m_cletter_name AS mCletterName, 
		cm.m_cletter_regdate AS mCletterRegdate, 
		cm.m_cletter_modidate AS mCletterModidate
	FROM 
		tb_cletter_member cm	
	</select>

<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					02	기업채용공고의 자기소개서 리스트	
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->
	<select id="selectCoverletterCompanyJobList" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobVo">
	SELECT
		ci.company_name AS companyName,
		jm.job_midindex_name AS midindexName,
		rcj.recruit_job_jobdetail AS recruitJobDetail,
		rc.recruit_enddate AS recruitEnddate,
		rcj.recruit_job_workstatus AS recruitJobWorkstatus,
		rcj.recruit_job_file AS recruitJobFile
	FROM 
		tb_recruit_company rc
	
	INNER JOIN	
		tb_recruit_company_job rcj 
	ON 
		rc.company_cd = rcj.company_cd
	
	INNER JOIN	
		tb_company_info ci 
	ON 
		ci.company_cd = rcj.company_cd	
	
	INNER JOIN	
		tb_job_midindex jm 
	ON 
		jm.job_midindex_cd = rcj.job_midindex_cd 	
	ORDER BY
		rc.recruit_enddate ASC
	</select>

<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					03	회원의 자기소개서 입력화면	
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->
 	<!-- 직무별 자기소개서 화면 --> 
 	<select id="">
 	SELECT
 		<foreach collection="resumeUniversityVoList" item="item" separator=" , ">
		ci.company_name AS companyName,
		jm.job_midindex_name AS midindexName,
		rcj.recruit_job_jobdetail AS recruitJobDetail,
		rc.recruit_enddate AS recruitEnddate,
		ccj.c_cletter_article AS cCletterArticle
		</foreach>
	FROM 
			tb_recruit_company rc
	INNER JOIN	
			tb_recruit_company_job rcj 
	ON 
			rc.company_cd = rcj.company_cd
	INNER JOIN	
			tb_company_info ci 
	ON 
			ci.company_cd = rcj.company_cd	
	INNER JOIN	
			tb_job_midindex jm 
	ON 
			jm.job_midindex_cd = rcj.job_midindex_cd 	
	INNER JOIN
			tb_cletter_company_job ccj 
	ON
			rcj.recruit_job_cd = ccj.recruit_job_cd
	WHERE
			ccj.c_cletter_article_cd = 'coverletter_cd_10'
 	
 	</select>
 	<!-- 직무별 자기소개서 화면처리 -->
 	<insert id="coverletterMemberVo" parameterType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberVo">
 		
 	</insert>	
</mapper>