<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.pickmetop.coverletter.repository.CoverletterMapper">
<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
						00	이력서 및 자기소개서 나의 정보페이지
			(마감임박채용공고10/나의자소서Count/나의 이력서Count/나의채용북마크Count)
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->
	<!-- 마감임박채용공고10 -->  	
 	<select id="selectCoverletterCompanyJobListForInfo" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobInfoVo">
	SELECT
		rc.recruit_name AS recruitName,
		ci.company_name AS companyName, 
		jm.job_midindex_name AS jobMidindexName, 
		rcj.recruit_job_cd AS recruitJobCd, 
		rcj.recruit_job_jobdetail AS recruitJobJobdetail, 
		rcj.recruit_job_education AS recruitJobEducation, 
		rcj.recruit_job_workstatus AS recruitJobWorkstatus, 
		rc.recruit_enddate AS recruitEnddate 
	FROM 
		tb_recruit_company rc
	
	INNER JOIN tb_recruit_company_job rcj
	ON rc.recruit_company_cd = rcj.recruit_company_cd
	
	INNER JOIN tb_company_info ci
	ON rc.company_cd = ci.company_cd
	
	INNER JOIN tb_job_midindex jm
	ON rcj.job_midindex_cd = jm.job_midindex_cd
	
	WHERE 
		CURRENT_TIMESTAMP <![CDATA[ <= ]]> rc.recruit_enddate
	ORDER BY rc.recruit_enddate ASC
	LIMIT 10
	</select>
	<!-- //마감임박채용공고10 -->
	
	<!-- 나의자소서Count -->
	<select id="selectMyCoverletterListCount" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.ResumeCoverletterInfoCountVo">
	SELECT 
		COUNT(*) AS myCoverletterCount
	FROM tb_cletter_member
	WHERE 
		login_id = #{loginId};
	</select>
	<!-- //나의자소서Count -->   
	
	<!-- 나의 이력서 Count --> 
	<select id="selectMyResumeListCount" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.ResumeCoverletterInfoCountVo">
	SELECT 
		COUNT(*) AS myResumeCount
	FROM tb_resume
	WHERE 
		login_id = #{loginId};
	</select>
	<!-- // 나의 이력서 Count -->
	
	<!-- 나의 채용북마크 Count --> 
	<select id="selectMyRecruirLitCount" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.ResumeCoverletterInfoCountVo">
	SELECT 
		COUNT(*) AS myRecruitBookmarkCount
	FROM tb_recruit_company_bookmark
	WHERE 
		login_id = #{loginId};
	</select>
	<!-- // 나의 채용북마크 Count -->  


<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					01	회원자소서 리스트	: 리스트페이지, 모달페이지
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->	
 	<select id="selectCoverletterMemberList" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberVo">
	SELECT 
		cm.m_cletter_cd AS mCletterCd, 
		cm.recruit_job_cd AS recruitJobCd, 
		cm.login_id AS loginId, 
		cm.m_cletter_name AS mCletterName, 
		cm.m_cletter_regdate AS mCletterRegdate, 
		cm.m_cletter_modidate AS mCletterModidate
	FROM 
		tb_cletter_member cm
	WHERE
		cm.login_id = #{loginId}		
	</select>

<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					02	기업채용공고의 직무별 리스트
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->
 	<select id="selectCoverletterCompanyJobList" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobInfoVo">
	SELECT
		rc.recruit_name AS recruitName, <!-- 채용공고명 -->
		ci.company_name AS companyName, <!-- 기업명 -->
		jm.job_midindex_name AS jobMidindexName, <!-- 직무중분류명 -->
		rcj.recruit_job_cd AS recruitJobCd, <!-- 기업 직무별 코드 -->
		rcj.recruit_job_jobdetail AS recruitJobJobdetail, <!-- 상세직무 -->
		rcj.recruit_job_education AS recruitJobEducation, <!-- 채용학력 -->
		rcj.recruit_job_workstatus AS recruitJobWorkstatus, <!-- 채용형태 -->
		rc.recruit_enddate AS recruitEnddate <!-- 마감일 -->
	FROM 
		tb_recruit_company rc
	
	INNER JOIN tb_recruit_company_job rcj
	ON rc.recruit_company_cd = rcj.recruit_company_cd
	
	INNER JOIN tb_company_info ci
	ON rc.company_cd = ci.company_cd
	
	INNER JOIN tb_job_midindex jm
	ON rcj.job_midindex_cd = jm.job_midindex_cd
	
	ORDER BY rc.recruit_enddate ASC
	</select>

<!-- 
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					03_01	회원의 자기소개서 입력화면
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
 -->
 	<!-- 기업채용공고에서 하나의 직무를 선택하여 자기소개서 입력화면으로 이동할때 필요한 값들 select -->
 	<select id="selectOneCletterCompanyJobInfo" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobInfoVo">
 	SELECT  
		rcj.recruit_job_cd AS recruitJobCd, <!-- 기업직무별코드 -->
		ci.company_name AS companyName, <!-- 채용공고명 -->
		rc.recruit_name AS recruitName, <!-- 기업명 -->
		jm.job_midindex_name AS jobMidindexName, <!-- 직무중분류명 -->
		rcj.recruit_job_jobdetail AS recruitJobJobdetail, <!-- 채용상세직무 -->
		DATE_FORMAT(rc.recruit_enddate, '%Y-%m-%d %H:%i') as recruitEnddate
	FROM tb_recruit_company rc <!-- 기업채용정보 tb -->
		
	INNER JOIN tb_recruit_company_job rcj <!-- 기업직무별채용정보 tb -->
	ON rc.company_cd = rcj.company_cd <!-- 기업채용정보 : 기업직무별채용정보  -->
		
	INNER JOIN tb_job_midindex jm <!-- 직무중분류 tb -->
	ON rcj.job_midindex_cd = jm.job_midindex_cd <!-- 기업직무별채용정보 : 직무중분류 -->
		
	INNER JOIN tb_company_info ci <!-- 기업정보 tb -->
	ON rc.company_cd = ci.company_cd <!-- 기업채용정보 : 기업정보 -->
		
	WHERE rcj.recruit_job_cd = #{recruitJobCd} <!-- 기업직무코드를 조건으로  select join -->
 	</select>
 	
 	<!-- 기업채용공고에서 하나의 직무를 선택하여 자기소개서 입력화면으로 이동할때 필요한 자소서항목리스트 select -->
 	<select id="selectListCletterArticleByJobCd" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterCompanyJobVo">
 	SELECT 
		c_cletter_article_cd AS cCletterArticleCd, <!-- 기업 자기소개서 항목코드 -->
		recruit_job_cd AS recruitJobCd, <!-- 기업 직무별 코드 -->
		c_cletter_article AS cCletterArticle <!-- 자소서항목 -->
	FROM 
		tb_cletter_company_job <!-- 기업 직무별 자기소개서 항목 tb -->
	WHERE 
		recruit_job_cd = #{recruitJobCd} <!-- 기업직무코드를 조건으로  select -->
	ORDER BY c_cletter_article_cd ASC	
 	</select>
<!-- 
 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					03_02 회원의 자기소개서 입력처리
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ		
 --> 	
 
 <!-- 회원이 작성한 자기소개서정보 입력처리 -->
 	<insert id="insertCoverletter" parameterType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberVo">
 	INSERT INTO tb_cletter_member
	(
		m_cletter_cd, 
		recruit_job_cd, 
		login_id, 
		m_cletter_name,
		m_cletter_enddate,
		m_cletter_ddaytime,
		m_cletter_regdate, 
		m_cletter_modidate
	)VALUES(
		(SELECT CONCAT('m_cletter_cd_', LPAD(IFNULL(MAX(substring(mcl.m_cletter_cd, 14)),0)+1,4,'0')) AS mCletterCdOrder FROM tb_cletter_member mcl ORDER BY mCletterCdOrder), 
		#{recruitJobCd}, 
		#{loginId}, 
		#{mCletterName},
		#{mCletterEnddate},
		#{mCletterDdaytime}, <!-- 자바에서 변환한뒤에 처리해주면되징 -->
		NOW(), 
		NOW()
	)
 	</insert>
 	<!-- 회원이 작성한 자기소개서 항목 입력처리 -->
 	<insert id="insertCoverletterArticle" parameterType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberArticleVo">
 	INSERT INTO tb_cletter_member_article
	(
		m_cletter_article_cd, 
		m_cletter_cd, 
		c_cletter_article, 
		m_cletter_article_content
	)VALUES
		<foreach collection="coverletterMemberArticleVoList" item="item" separator=" , ">
	(
		(SELECT CONCAT('m_article_cd_', LPAD(IFNULL(MAX(substring(mcla.m_cletter_article_cd, 14)),0)+1,4,'0')) AS mArticleCdOrder FROM tb_cletter_member_article mcla ORDER BY mArticleCdOrder), 
		(SELECT CONCAT('m_cletter_cd_', max(substring(mcl.m_cletter_cd, 14))) FROM tb_cletter_member mcl), 
		#{item.cCletterArticle}, 
		#{item.mCletterArticleContent}
	)
 		</foreach>
 	</insert>
 	<!-- 회원이 작성한 자기소개서 저장기록 입력처리 -->
 	<insert id="insertCoverletterSaveRecord" parameterType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberArticleSaveVo">
 	INSERT INTO tb_cletter_member_article_save
	(
		m_cletter_record_cd, 
		m_cletter_cd, 
		m_cletter_record_date
	)VALUES(
		(SELECT CONCAT('m_cletter_record_', LPAD(IFNULL(MAX(substring(mclas.m_cletter_record_cd, 18)),0)+1,4,'0')) AS mCletterRecordOrder FROM tb_cletter_member_article_save mclas ORDER BY mCletterRecordOrder),  
		(SELECT CONCAT('m_cletter_cd_', max(substring(mcl.m_cletter_cd, 14))) FROM tb_cletter_member mcl),  
		NOW()
	)
 	</insert>
 	
 <!-- 
 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ	
					04_02 회원의 자기소개서 상세보기
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ		
 --> 
 	<!-- 회원의 자기소개서 정보 -->
 	<select id="selectOneMemeberCoverletterInfo" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberVo">
 	SELECT 
		m_cletter_cd AS mCletterCd, 
		recruit_job_cd AS recruitJobCd, 
		login_id AS loginId, 
		m_cletter_name AS mCletterName,
		DATE_FORMAT(m_cletter_enddate, '%Y-%m-%d %H:%i') AS mCletterEnddate,
		DATE_FORMAT(m_cletter_ddaytime, '%Y-%m-%d %H:%i') AS mCletterDdaytime,
		DATE_FORMAT(m_cletter_regdate, '%Y-%m-%d %H:%i') AS mCletterRegdate,
		DATE_FORMAT(m_cletter_modidate, '%Y-%m-%d %H:%i') AS mCletterModidate
	FROM tb_cletter_member
		
	WHERE m_cletter_cd = #{mCletterCd};
 	</select>
 	
 	<!-- 회원이 작성한 자기소개서 항목 및 내용 리스트 -->
 	<select id="selectMemeberCoverletterArticleList" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberArticleVo">
 	SELECT 
		cm.m_cletter_cd AS mCletterCd, 
		cma.c_cletter_article AS cCletterArticle, 
		cma.m_cletter_article_content AS mCletterArticleContent
	FROM tb_cletter_member cm
	
	INNER JOIN tb_cletter_member_article cma
	ON cm.m_cletter_cd = cma.m_cletter_cd
		
	WHERE cm.m_cletter_cd = #{mCletterCd};
 	</select>
 	
 	<!-- 회원이 작성한 자기소개서 저장기록 -->
 	<select id="selectMemeberCoverletterArticleSaveRecord" parameterType="String" resultType="com.cafe24.pickmetop.coverletter.model.CoverletterMemberArticleSaveVo">
 	SELECT 
		cm.m_cletter_cd AS mCletterCd, 
		cmas.m_cletter_record_cd AS mCletterRecordCd, 
		cmas.m_cletter_record_date AS mCletterRecordDate
	FROM tb_cletter_member cm
	
	INNER JOIN tb_cletter_member_article_save cmas
	ON cm.m_cletter_cd = cmas.m_cletter_cd	
		
	WHERE cm.m_cletter_cd = #{mCletterCd};
 	</select>

</mapper>